@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,700&display=swap");

/* My FONTS */
@font-face {
  font-family: analogue;
  src: url("../fonts/Analogue.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: analogue;
  src: url("../fonts/MiConv.com__Analogue\ Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: analogue;
  src: url("../fonts/MiConv.com__AnalogueRed-56Oblique.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: analogue;
  src: url("../fonts/MiConv.com__AnalogueRed-46LightOblique.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: analogue;
  src: url("../fonts/MiConv.com__AnalogueRed-76BoldOblique.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: analogue;
  src: url("../fonts/MiConv.com__AnalogueRed-75Bold.woff") format("woff");
  font-weight: 700;
}

/* MY CSS VARIABLE */
:root {
  --explora: "Explora", cursive;
  --poppins: "Poppins", sans-serif;

  /* COLORS */
  --dark-100: #3a4f47;
  --dark-75: #5d646f;
  --gray-100: #808080;
  --gray-50: #afafaf;
  --gray-25: #e1e1e1;

  --bg: #f7f7f7;
  --warning: #f8b501;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: var(--poppins);
  background: var(--bg);
  height: 1000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background: rgba(58, 79, 71, 0.8);
  border-bottom: 1px solid var(--dark-100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2.2rem;
  font-family: analogue;
  color: var(--bg);
  font-weight: bold;
}

.navbar .navbar-logo span {
  color: var(--warning);
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  /* font-family: "analogue", sans-serif; */
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--warning);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--warning);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--warning);
  transition: 0.2s linear;
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding-top: 7rem;
  margin: 5rem auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .content h4 {
  font-size: 2em;
  color: var(--bg);
  text-shadow: 1px 1px 3px rgba(58, 79, 71, 0.8);
  text-transform: uppercase;
  margin-top: 0;
  font-family: analogue;
  font-weight: 200;
}

.hero .content h1 {
  font-size: 5em;
  font-weight: 700;
  color: var(--bg);
  text-shadow: 1px 1px 3px rgba(58, 79, 71, 0.8);
  text-transform: uppercase;
  font-family: analogue;
}

.hero .content h1 span {
  color: var(--warning);
}

.hero .content a {
  font-size: 1.5em;
  color: var(--bg);
  text-shadow: 1px 1px 3px rgba(58, 79, 71, 0.8);
  font-weight: 500;
  margin-top: 1.5rem;
}
.hero .content a span {
  font-weight: 300;
}

.hero .content .countdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero .content .countdown .waktu {
  margin: 5rem 2rem;
  font-size: 2em;
  color: var(--bg);
  text-shadow: 1px 1px 3px rgba(58, 79, 71, 0.8);
}

.hero .content .countdown .waktu p {
  font-size: 0.8em;
}

/* quran */
.quran {
  padding: 7rem 7%;
}

.quran .row {
  display: flex;
}
.quran .row .quran-img {
  flex: 1 1 45rem;
}

.quran .row .quran-img img {
  width: 100%;
}

.quran .row .content {
  flex: 1 1 35rem;
  padding: 5rem 2rem;
}
.quran .row .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 500;
}
.quran .row .content p {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 200;
}
/* about */
.about {
  padding: 7rem 7% 1.4rem;
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 90%;
  height: 75%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1rem 1rem 3rem rgba(58, 79, 71, 0.8);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 10rem 2rem;
}
.about .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--dark-75);
  font-family: var(--poppins);
  font-weight: 700;
  text-transform: uppercase;
}
.about .row .content p {
  font-size: 2rem;
  margin: 0;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 400;
}
.about .row .content span {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1.5rem;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 100;
}
.cba {
  display: inline-block;
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.4rem;
  background-color: var(--warning);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(58, 79, 71, 0.8);
}
.cba i {
  margin-right: 0.5rem;
}

/* about2 */
.about2 {
  padding: 7rem 7% 1.4rem;
  background: var(--gray-25);
}

.about2 .row {
  display: flex;
}
.about2 .row .about2-img {
  flex: 1 1 45rem;
  order: 2;
}

.about2 .row .about2-img img {
  width: 90%;
  height: 75%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1rem 1rem 3rem rgba(58, 79, 71, 0.8);
}

.about2 .row .content {
  flex: 1 1 35rem;
  padding: 10rem 2rem;
}
.about2 .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--dark-75);
  font-family: var(--poppins);
  font-weight: 700;
  text-transform: uppercase;
}
.about2 .row .content p {
  font-size: 2rem;
  margin: 0;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 400;
}
.about2 .row .content span {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1.5rem;
  color: var(--dark-75);
  font-family: analogue;
  font-weight: 100;
}

/* story */

.story {
  padding: 7rem 7% 1.4rem;
}

.story h2 {
  font-size: 5rem;
  font-family: analogue;
  text-align: center;
  color: var(--dark-75);
  font-weight: 100;
}

.story .part {
  text-align: center;
  margin: 3rem;
}

.story .part h3 {
  font-size: 2rem;
  color: var(--dark-75);
  font-weight: 400;
  font-family: analogue;
  margin: 2rem;
}

.story .part p {
  font-size: 1.6rem;
  color: var(--dark-75);
  font-weight: 100;
  font-family: analogue;
  margin: 2rem;
}

/* media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--dark-100);
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  /* Quran */
  .quran .row {
    flex-wrap: wrap;
  }
  .quran .row .quran-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .quran .row .content {
    text-align: center;
    padding: 0;
  }
  .quran .row .content h3 {
    font-size: 2.8rem;
    margin-top: 0.7rem;
  }
  .quran .row .content p {
    font-size: 2rem;
    margin-top: 0.7rem;
  }

  /* about */
  .about {
    padding: 4rem 0;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 50rem;
    width: 75%;
    padding: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0.8rem 0.8rem 2.4rem rgba(58, 79, 71, 0.8);
  }
  .about .row .content {
    text-align: left;
    padding: 0.7rem 7%;

    margin-top: 0.5rem;
  }
  .about .row .content h3 {
    font-size: 2.8rem;
    margin-top: 0.7rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
    margin: 0rem;
  }
  .about .row .content span {
    font-size: 1.6rem;
  }
  .about .row .content i {
    font-size: 1rem;
  }
  .cba {
    padding: 0.5rem 1.8rem;
    margin-top: 1rem;
  }
  .about2 {
    padding: 4rem 0;
  }
  .about2 .row {
    flex-wrap: wrap;
  }
  .about2 .row .about2-img {
    order: 1;
    flex: 0 0 100%;
    text-align: right;
  }
  .about2 .row .about2-img img {
    height: 50rem;
    width: 75%;
    padding: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0.8rem 0.8rem 2.4rem rgba(58, 79, 71, 0.8);
  }
  .about2 .row .content {
    order: 1;
    flex: 0 0 100%;
    padding: 0 7%;
    margin-top: 0.5rem;
    text-align: right;
  }
  .about2 .row .content h3 {
    font-size: 2.8rem;
    margin-top: 0.7rem;
  }
  .about2 .row .content p {
    font-size: 1.6rem;
    margin: 0rem;
  }
  .about2 .row .content span {
    font-size: 1.6rem;
  }
  .about2 .row .content i {
    font-size: 1rem;
  }
  .cba {
    padding: 0.5rem 1.8rem;
    margin-top: 1rem;
  }

  /* story */
}

/* Mobile Phone  */
@media (max-width: 450px) {
  html {
    font-size: 52%;
  }
}
